.text-yellow {
  color: #ffca30 !important;
}

.squatch-body,
#squatch-panel {
  background: #4d4d4f;
  color: white;
}

.squatch-lead,
#squatch-panel {
  border-color: #5b6165;
}

.logo {
  margin-bottom: 20px;
}

#squatch-share-link{
  background: white;
}

.btn.copy {
  background-color: #ffca30;
  border-color: #ffca30;
  color: #4d4d4f;
}

.squatch-panel-title {
  color: #ffca30;
  font-weight: normal;
}

.squatch-referrals-list td {
  border-color: #5b6165;
}

.squatch-referrals-actions .btn {
  background: #ffca30;
  border-color: #ffca30;
}

.squatch-register #squatch-send-email {
  background-color: #ffca30;
  border-color: #ffca30;
  color: #4d4d4f;
}

.squatch-attribution {
  border-top: none !important;
}