a.squatch-share-btn {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
  width: 50px;

  &::before {
    content: none;
  }

  &.btn-facebook {
    border: 1px solid #234079;
    color: #234079;
  }

  &.btn-twitter {
    border: 1px solid #4797d2;
    color: #4797d2;
  }

  &.btn-email {
    border: 1px solid #373a3d;
    color: #373a3d;
  }
}