.squatch-banner {
  background: #fff;
  padding: 30px 20px;
  text-align: center;

  img {
    width: 80%;
  }
}

.squatch-body {
  background-image: url(//d9hhrg4mnvzow.cloudfront.net/learn.microdea.com/track-2-beta-signup/52a98e92-shutterstock-276834887-1-1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #fff;
  padding: 0;
  
  .squatch-body-overlay {
    background: rgba(88, 125, 156, 0.75);
    padding: 30px 30px 20px;
  }

  #squatch-share-link {
    background: white;
  }
}

.text-green {
  color: #224587 !important;
}

.text-yellow {
  color: #ffc857 !important;
}