// Core variables and mixins
@import "../libs/bootstrap/less/_variables.less";
@import "../libs/bootstrap/less/_mixins.less";

// Reset and dependencies
@import "../libs/bootstrap/less/_normalize.less";
@import "../libs/bootstrap/less/_print.less";

// Core CSS
@import "../libs/bootstrap/less/_scaffolding.less";
@import "../libs/bootstrap/less/_type.less";
@import "../libs/bootstrap/less/_grid.less";
@import "../libs/bootstrap/less/_tables.less";
@import "../libs/bootstrap/less/_forms.less";
@import "../libs/bootstrap/less/_buttons.less";
@import "../libs/bootstrap/less/_input-groups.less";

// Components
@import "../libs/bootstrap/less/_component-animations.less";
@import "../libs/bootstrap/less/_labels.less";

// Utility classes
@import "../libs/bootstrap/less/_utilities.less";
@import "../libs/bootstrap/less/_responsive-utilities.less";

// Theme Base
@import '_variables.less';
@import '_base.less';
@import '_shims.less';

// Components
@import '_attribution.less';
@import '_buttons.less';
@import '_icons.less';
@import '_input-groups.less';
@import '_panel.less';
@import '_referrals.less';
@import '_share.less';
@import '_stats.less';

// Atomic Classes
@import '_atomic.less';

// Theme Modes
@import 'modes/_embed.less';
@import 'modes/_popup.less';
@import 'modes/_hosted.less';

// FONTS
@font-face {
  font-family: BrandonGrotesque;
  src: url("../fonts/BrandonGrotesque-Regular.otf") format("opentype");
}

@font-face {
  font-family: SanFranciscoDisplay;
  font-weight: bold;
  src: url("../fonts/SanFranciscoDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: SanFranciscoText;
  src: url("../fonts/SanFranciscoText-Regular.otf") format("opentype");
}

@font-face {
  font-family: BrandonGrotesque-Medium;
  src: url("../fonts/BrandonGrotesque-Medium.otf") format("opentype");
}

@font-face {
  font-family: BrandonGrotesque-Bold;
  src: url("../fonts/BrandonGrotesque-Bold.otf") format("opentype");
}

// GLOBALS
.squatch-container {
  width: 100%;
  color: @invision-gray;
  -webkit-font-smoothing: antialiased;
}

.icon-mail-2 {
  color: @invision-blue;
}

.icon-linkedin-2 {
  color: #0071a1;
}

.icon-facebook-2 {
  color: #3b5998;
}


// SHARED
.squatch-container-embed,
.squatch-container-popup,
.squatch-container-demo_embed {

  .squatch-cta {
    font-family: BrandonGrotesque, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: @invision-gray-light;
    padding-top: 15px;
    margin-bottom: -3px;

    p {
      text-align: left;
    }
  }

  .squatch-share-btn {
    font-family: BrandonGrotesque-Medium, Helvetica, Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    background: #fff;
    border: 1px solid @invision-gray-lightest;
    border-radius: 20px;
    color: @invision-gray-dark;
    width: 105px;

    i {
      font-size: 15px;
    }

    .icon {
      margin-right: 0;
    }

    &:hover,
    &:active {
      box-shadow: 0px 0px 25px @invision-gray-lightest;
      border: 0;
      background: #fff;
    }
  }

  .input-group-btn {
    height: 50px;
    border: 1px solid @invision-gray-lighter;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
    padding-right: 10px;
  }

  .icon-btn.copy {
    background: @invision-blue-dark;
    text-align: center;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    border: none;
    font-size: 11px;
    letter-spacing: 1px;
    font-family: BrandonGrotesque-Bold, Helvetica, Arial, sans-serif;
    font-weight: bold;

    &:before {
      background: transparent;
    }

    .icon {
      display: none;
    }

    &:hover,
    &:active {
      box-shadow: 0px 0px 25px @invision-gray-lighter;
    }

    .checkmark {
      display: none;
      margin-left: 32px;
      margin-top: 0;
    }

    &.copied {
      .checkmark {
        display: block;
      }

      .text {
        display: none;
      }
    }
  }

  #squatch-share-link {
    font-family: SanFranciscoText, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: @invision-gray;
    height: 50px;
    border: 1px solid @invision-gray-lighter;
    box-shadow: none;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
  }
}

// EMBED WIDGET
.squatch-container-embed,
.squatch-container-demo_embed {

  border: 0; // remove preview border

  .squatch-popup-title {
    display: none;
  }

  .success-image {
    background: url('../images/success-green.svg') no-repeat center;
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }

  .success-text {
    font-family: SanFranciscoDisplay, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 0;
    padding-bottom: 47px;

    h2 {
      font-size: @font-size-xl;
    }
  }

  .border {
    width: 100%;
    border-top: 1px solid @invision-gray-lightest;
    margin: 0 auto;
    max-width: 120px;
  }

  .share-section {
    max-width: 950px;
    margin: 0 auto;
    padding-top: 38px;

    .left-col {
      float: left;
      max-width: 279px;
      height: 272px;
      width: 40%;

      @media (max-width: 750px) {
        width: 100%;
        max-width: 100%;
      }
    }

    .right-col {
      display: inline-block;
      max-width: 545px;
      width: 60%;
      padding-top: 22px;
      padding-left: 78px;

      @media (max-width: 750px) {
        width: 100%;
        padding-left: 0;
        padding-top: 40px;
      }
    }
  }

  .t-shirt {
    background: url('../images/modal-shirt.png') no-repeat center;
    height: 272px;
    width: 279px;
    margin: 0 auto;
  }

  .linkedinShare .icon {
    margin-right: -8px;
  }

  .squatch-title {
    font-family: SanFranciscoDisplay, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;

    p {
      text-align: left;
    }
  }

  .squatch-lead {
    font-family: SanFranciscoText, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: @invision-gray-dark;

    p {
      text-align: left;
    }
  }
}

// POPUP WIDGET
.squatch-container-popup {
  width: 385px;

  .invision-success {
    display: none;
  }

  .squatch-title {
    display: none;
  }

  .squatch-cta {
    font-family: BrandonGrotesque-Medium, Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: @invision-gray-light;
    padding-top: 15px;
    margin-bottom: 13px;

    p {
      text-align: center;
    }
  }

  .squatch-share-btn {
    width: 40px;
    height: 40px;
    color: #fff;

    i {
      margin-left: -1px;
      margin-top: 5px;
    }
  }

  .squatch-share .clearfix{
    padding-left: 92px;
  }
}
