<tr>
    <td style="color: #434C5E; font-family: 'Open Sans', Helvetica, sans-serif; font-size: 18px; line-height: 24px; text-align: center; padding-top: 20px; padding-bottom: 40px;">
        <span class="padding-right-0875 padding-left-0875" style="background-color: #F9F9FB; color: #434C5E; padding: 71px; font-size: 16px; padding-top: 15px; padding-bottom: 15px; border: 1px solid #E3E3E3; text-decoration: none; letter-spacing: 3px;">{{code}}</span>
    </td>

</tr>

<tr>
    <td style="color: #434C5E; font-family: 'Open Sans', Helvetica, sans-serif; font-size: 18px; line-height: 24px; text-align: center; padding-top: 20px; padding-bottom: 20px;">
        <a href="https://marketplace.invisionapp.com/?promocode={{code}}" style="background-color: #FF3366; color: #ffffff; padding: 50px; font-size: 13px; padding-top: 13px; padding-bottom: 13px; border: 0; border-radius: 50px; text-decoration: none;" target="_blank">GET YOUR SHIRT!</a>
    </td>
</tr>
