<div class="invision-success">
  <div class="success-image"></div>

  <div class="success-text">
    {{variables 'widget.REFERRER_WIDGET.content.widgetCustomization.successText'}}
  </div>

  <div class="border"></div>
</div>
