<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <base target="_self">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chipolo Referral Program</title>
    <meta name="description" content="">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    
    {{> theme_messages}}

    {{squatchHead}}

    <!-- Importing Vanilla Components -->
    <script src="https://fast.ssqt.io/npm/@saasquatch/vanilla-components@1.2.x/dist/widget-components/entrypoint.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fast.ssqt.io/npm/@saasquatch/vanilla-components-assets@latest/icons.css"
    />

    {{!-- This should have chipolo components --}}
    {{!-- <script src="https://unpkg.com/@saasquatch/chipolo-components@1.0.x/dist/widget-components/entrypoint.js"></script> --}}

  </head>
  <body>
    <sqh-global-container class="squatch-container" loadingcolor="#439B76">
      
      <sqh-text-component
      sqhbody="true"
      ismarkdown="true"
      text="There's no limit to the number of friends you can refer, so share your link as many times as you like! <a href='http://www.google.com'>T&C apply.</a>"
      color="black"
      fontsize="18"
      textalign="left"
      paddingtop="5"
      paddingbottom="35"
      ></sqh-text-component>
      
      <my-component first="John" last="Doe" />
      
      <mini-copy-box
        class="copy-box"
        text="Copy"
        copysuccess="Copied"
        copyfailure="Failed"
        buttoncolor="#F9FAFB"
        textcolor="#909C9E"
      ></mini-copy-box>

    </sqh-global-container>
  </body>
</html>
